In [1]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

import numpy as np
import pandas as pd
import sys

from sklearn.datasets import load_diabetes
sys.path.append("..")
from interpretDistill.fourierDistill import FTDistill, FTDistillCV
from interpretDistill.binaryTransformer import BinaryTransformer

In [2]:
X, y = load_diabetes(as_frame = True, return_X_y = True)

In [9]:
bt = BinaryTransformer(depth=1)

In [10]:
binary = bt.fit_and_transform(X, y)

In [11]:
binary

,age_1,age_2,sex,bmi_1,bmi_2,bp_1,bp_2,s1_1,s1_2,s2_1,s2_2,s3_1,s3_2,s4_1,s4_2,s5_1,s5_2,s6_1,s6_2
0,-1,1,-1,-1,1,1,-1,1,-1,1,-1,1,-1,-1,1,-1,1,1,-1
1,1,-1,1,1,-1,1,-1,1,-1,1,-1,-1,1,1,-1,1,-1,1,-1
2,-1,1,-1,-1,1,1,-1,1,-1,1,-1,1,-1,-1,1,-1,1,1,-1
3,1,-1,1,1,-1,1,-1,-1,1,-1,1,1,-1,-1,1,-1,1,1,-1
4,1,-1,1,1,-1,1,-1,1,-1,1,-1,-1,1,-1,1,1,-1,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,-1,1,-1,-1,1,-1,1,1,-1,1,-1,1,-1,-1,1,-1,1,1,-1
438,1,-1,-1,1,-1,1,-1,-1,1,-1,1,1,-1,-1,1,1,-1,-1,1
439,-1,1,-1,1,-1,1,-1,1,-1,1,-1,1,-1,-1,1,1,-1,1,-1
440,1,-1,1,-1,1,1,-1,-1,1,1,-1,1,-1,-1,1,-1,1,1,-1
441,1,-1,1,1,-1,1,-1,-1,1,-1,1,-1,1,1,-1,1,-1,1,-1